body {
    background: #f8f9fa;
  }

.my-col {
  background: white;
}

.newhr {
  border: 10px solid #f8f9fa;
  border-radius: 5px;
}


.float-left {
  float: left;
}

.float-right {
  float:right
}

.scatter1 {
  width: 120%;
}

.wrap-text {
  flex-wrap: wrap;
}

}
.ml-1 {
  margin-left: ($spacer * .25) !important;
}

footer {
  background: #222;
  padding:33px
}

.comparison {
  width: 65%;
}

.plot-img {
  width: 50%;
}